<div class="panel panel-default" style="display: inline-block; margin-right: 10px">
    <div class="panel-body">
        <a href="{{ ::photo.pageUrl }}">
            <img ng-src="{{ ::photo.thumbnailUrl }}" />
        </a>
    </div>
    <div class="panel-footer">
        <h3 class="panel-title">
            <a href="{{ ::photo.pageUrl }}">
                {{ ::photo.title }}
            </a>
            <br /> by
            <a href="{{ ::photo.author.homepage }}">
                {{ ::photo.author.name }}
            </a>
            <span ng-if="photo.tags">
                <br /> Tags:
                <span ng-repeat="tag in photo.tags">
                    <a href="{{ ::tag.pageUrl }}">{{ ::tag.name }}</a><span ng-if="!$last">,</span>
                </span>
            </span>
        </h3>
    </div>
</div>
