<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">

        <title>Flickr Eater</title>

        <meta name="description" content="Displays images from public Flickr feed">
        <meta name="viewport" content="width=device-width, initial-scale=1">
            
        <link rel="stylesheet" href="css/app.css" />
    </head>
    <body ng-app="flickrEater" ng-controller="PhotoFeedCtrl as ctrl">
        
        <div class="container">
            <div ng-if="!ctrl.loaded" class="loading">
                <h2>Loading Photos!</h2>
            </div>

            <div ng-if="!ctrl.success && ctrl.loaded" ng-cloak class="error">
                <h2>Error!</h2>
                <p>There was an error retrieving photos from Flickr.</p>
            </div>

            <photo-panel photo="photo" ng-if="ctrl.success" ng-repeat="photo in ctrl.photos"></photo-panel>
        </div>
        
        <script type="application/javascript" src="bower_components/lodash/lodash.min.js"></script>
        <script type="application/javascript" src="bower_components/jquery/dist/jquery.min.js"></script>
        <script type="application/javascript" src="bower_components/angular/angular.js"></script>
        <script type="application/javascript" src="js/app.js"></script>
        <script type="application/javascript" src="js/directives/photo-panel/photo-panel.js"></script>
        <script type="application/javascript" src="js/photo-feed-service.js"></script>
        <script type="application/javascript" src="js/index/index.js"></script>
    </body>
</html>
